
  .button {
    width: 100px;
    margin-right: 60px;
    margin-left: auto;

  }
  .bckg {
    background-image: url('https://images.unsplash.com/photo-1694540784497-ed3697d41952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDJ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60'); /* Update the image path */
    background-size: cover;
    background-position: center;
    /* Add other background styles as needed */
  }
  
  /* .img-container {
    border: 1px solid greenyellow;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust column layout as needed */
    
   
  /* .image {
    border: 1px solid blue;
    width: 400px;
    height: 300px;
  } */
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Add this to your CSS */
.drag-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* Adjust column layout as needed */
    gap: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 }
  
  /* Adjust any other styles you need */
  .drag-image {
    border: 1px solid blue;
    width: 350px;
  }
  .drag-image >h4 {
    color: black;
    font-size: 0.8rem;
  }
  
  .drag-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .tools{
    align-items: center;
    margin-right: 20px;
  }
  .search-button{
    margin-right: 40px;
  }
  